/.cph
/all_indices_of_numberCN
/check_numberCN
/count_zerosCN
/first_index_of_numbersCN
/geometric_sumCN
/last_index_of_numbersCN
/multipication(recursive)CN.bin
/number_of_digitsCN
/pair_starCN
/palindromeCN
/power
/print_numbersCN
/remove_xCN.bin
/replace_pi(recursive)CN.bin
/string_to_integerCN
/string_to_integerCN.bin
/sum_of_arrayCN
/sum_of_digits(recursive)CN.bin
/tempCodeRunnerFile
/tempCodeRunnerFile.cpp
/tower_of_hanoiCN
/tower_of_hanoiCN.bin